.DS_Store
obj/*.o
*.o
*.elf
*.img
*.dSYM
a.out
os/rootfs/grumpy.data
sledge/sledge
build/*.elf
newlib
.#*
build/interim.bin
interim386.iso
build/386iso/boot/interim.386
build/test
build/interim.amiga
sledge.exe
SDL2.dll
sledge-win32
